Repository luisfalconmx/thebouncingkoala: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{css,pcss,sss}": "stylelint --fix",
  "*.{js,css,json,md}": "prettier --write"
}

feat: stylelint added and configured
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write

chore: renaming .eslintrc and .prettierrc config files
  .eslintrc
  .prettierrc
Due: none

ci: codeql-analysis ci job added
  .github/workflows/codeql-analysis.yml
Due: none

ci: dependabot config file added
  .github/dependabot.yml
Due: none

fix: update dependencies and resolve vulnerabilities
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write

test: jest, enzyme and js-dom installed, configured and tested
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  src/components/Hero/index.jsx
  src/components/Hero/index.pcss
  src/components/Hero/index.test.js
  src/setupTests.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: postcss-nested package installed and configured
  package.json
  postcss.config.js
  src/components/Hero/index.jsx
Due: eslint --cache --fix, prettier --write

fix: downgrade react and react-dom versions for official support
  package-lock.json
  package.json
  src/components/Hero/index.jsx
  src/setupTests.js
Due: eslint --cache --fix, prettier --write

test: setting two mocks for exclude static files and styles
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  jest.config.js
  src/components/Hero/index.jsx
Due: eslint --cache --fix, prettier --write

test: the firts snapshot created with react-test-renderer library
  jest.config.js
  package-lock.json
  package.json
  src/components/Hero/index.test.js
  src/components/Hero/index.test.js.snap
  src/snapshotResolver.js
Due: eslint --cache --fix, prettier --write

ci: main github actions workflow added with release drafter configuration
  .github/release-drafter.yml
  .github/workflows/main.yml
  jest.config.js
Due: eslint --cache --fix, prettier --write

ci: removing older codeql-analysis.yml file
  .github/workflows/codeql-analysis.yml
Due: none

ci: adding lint script in package.json file
  package.json
Due: prettier --write

ci: setting the correct commands for test job
  .github/workflows/main.yml
Due: none

feat: favicon added with a new title
  public/favicon.ico
  public/favicon.svg
  public/index.html
  webpack.config.js
Due: eslint --cache --fix, prettier --write

ci: new github actions configuration
  .dockerignore
  .github/CHANGELOG.md
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/config.yml
  .github/release-drafter.yml
  .github/screenshot.png
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/maintenance.yml
  .npmrc
  Dockerfile.dev
  LICENSE
  README.md
  package-lock.json
  package.json
  src/components/Hero/index.jsx
Due: prettier --write

chore: package-lock.json updated
  package-lock.json
Due: prettier --write

refactor: jest configuration removed from src folder
  enzyme.config.js
  jest.config.js
  jest.setup.js
  package-lock.json
Due: eslint --cache --fix, prettier --write

build: npm replaced by yarn
  Dockerfile
  Dockerfile.dev
  yarn.lock
Due: none

test: new test configuration with react-testing-library
  enzyme.config.js
  jest.config.js
  package-lock.json
  package.json
  src/components/Hero/index.jsx
  src/components/Hero/index.test.js
  src/components/Hero/index.test.js.snap
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: multilanguage support
  package-lock.json
  package.json
  src/containers/App.jsx
  src/i18n.js
  src/index.js
  src/lang/en/translation.json
  src/lang/es/translation.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: router configured with react-router-dom library
  package.json
  src/containers/Hero/index.jsx
  src/containers/Hero/index.pcss
  src/containers/Hero/index.test.js
  src/index.js
  src/router.js
  src/routes/Contact.jsx
  src/routes/Home.jsx
  src/routes/NotFound.jsx
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

build: dependencies updated
  package.json
  yarn.lock
Due: prettier --write

ci: npm replaced by yarn in github actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci: new parameters for jest-coverage-report-action action
  .github/workflows/ci.yml
  jest.config.js
  package.json
Due: eslint --cache --fix, prettier --write

ci: release drafter template updated
  .github/release-drafter.yml
Due: none

ci: dockerhub username variable added in build and push docker image
  .github/workflows/cd.yml
Due: none

ci: removing screenshot action and added cancel previos workflows action
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
Due: none

refactor: cancel-workflow-action moved to release job
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci: timeout-minutes added in all jobs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
Due: none

build: tailwindcss updated to v3
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

ci: disable screenshot steps in all actions
  .github/workflows/cd.yml
  .github/workflows/maintenance.yml
Due: none

ci: screenshot steps ignored
  .github/workflows/cd.yml
Due: none

ci: new variables added in push readme to dockerhub step
  .github/workflows/maintenance.yml
Due: none

feat: layout container created and included in router
  src/components/Footer/index.jsx
  src/components/Navbar/index.jsx
  src/containers/Layout/index.jsx
  src/router.js
Due: eslint --cache --fix, prettier --write

feat: button component created with styles
  src/components/Button/index.jsx
  src/components/Button/index.pcss
  src/components/Navbar/index.jsx
  tailwind.config.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

ci: the variable env was changed to secrets in the actions
  .github/workflows/cd.yml
  .github/workflows/maintenance.yml
Due: none

feat: navbar component was created on your desktop version
  package.json
  src/assets/images/Logotype.svg
  src/assets/images/tailwindcss.png
  src/components/Button/index.pcss
  src/components/Navbar/index.jsx
  src/components/Navbar/index.pcss
  src/routes/Home.jsx
  yarn.lock
Due: stylelint --fix, prettier --write

feat: footer component was created in its desktop version
  src/assets/images/logo-facebook.svg
  src/assets/images/logo-github.svg
  src/assets/images/logo-instagram.svg
  src/assets/images/logo-twitter.svg
  src/components/Footer/index.jsx
  src/components/Footer/index.pcss
  src/components/Navbar/index.pcss
Due: stylelint --fix

feat: new configuration for styles with hover support
  package.json
  postcss.config.js
  src/components/Navbar/index.jsx
  src/components/Navbar/index.pcss
  src/index.js
  src/routes/Home.jsx
  src/styles/global.pcss
  src/styles/index.pcss
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write
