Repository luisfalconmx/thebouncingkoala: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix '**/*.{css,pcss,sss}', prettier '**/*' --write --ignore-unknown

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{css,pcss,sss}": "stylelint --fix '**/*.{css,pcss,sss}'",
  "*": "prettier '**/*' --write --ignore-unknown"
}

feat: post route added with handle slug param
  src/containers/BlogPosts/index.jsx
  src/router.js
  src/routes/Post.jsx
  webpack.config.js
Due: eslint --cache --fix, prettier '**/*' --write --ignore-unknown

feat: the PostContent container added with a rendered html
  .vscode/sftp.json
  package.json
  src/containers/PostContent/index.jsx
  src/containers/PostContent/index.pcss
  src/containers/Team/index.jsx
  src/routes/Post.jsx
  yarn.lock
Due: stylelint --fix '**/*.{css,pcss,sss}', prettier '**/*' --write --ignore-unknown

style: the image in CardBlog was resized
  src/components/CardBlog/index.jsx
  src/components/CardBlog/index.pcss
Due: stylelint --fix '**/*.{css,pcss,sss}', prettier '**/*' --write --ignore-unknown

revert: 404 page deleted
  webpack.config.js
Due: eslint --cache --fix, prettier '**/*' --write --ignore-unknown

feat: blog post fully responsive
  src/components/CardBlog/index.pcss
  src/containers/BlogPosts/index.pcss
  src/containers/PostContent/index.pcss
Due: stylelint --fix '**/*.{css,pcss,sss}', prettier '**/*' --write --ignore-unknown

Update README.md
  README.md
Due: prettier '**/*' --write --ignore-unknown

build: transform-inline-environment-variables babel plugin added
  .babelrc
  package.json
  yarn.lock
Due: prettier '**/*' --write --ignore-unknown

v1.6.0
  package.json
Due: prettier '**/*' --write --ignore-unknown

chore: vercel.json file added for enable spa support in vercel
  vercel.json
Due: prettier '**/*' --write --ignore-unknown

chore: logs in console removed
  src/containers/FeaturedBlog/index.jsx
  src/containers/PostContent/index.jsx
  src/containers/Team/index.jsx
Due: prettier '**/*' --write --ignore-unknown

chore: featuredBlog section removed from homepage
  src/routes/Home.jsx
Due: prettier '**/*' --write --ignore-unknown

feat: all views implemented
  .env.example
  package.json
  public/index.html
  src/assets/images/cardBlog-image.png
  src/assets/images/team/ana.jpeg
  src/assets/images/team/enrique.jpeg
  src/assets/images/team/jesus.jpeg
  src/assets/images/team/luis-falcon.png
  src/assets/images/team/mariam.jpeg
  src/components/CardBlog/index.jsx
  src/components/User/index.jsx
  src/containers/FAQ/index.jsx
  src/containers/FeaturedBlog/index.jsx
  src/containers/Navbar/index.jsx
  src/containers/Navbar/index.pcss
  src/containers/Pricing/index.jsx
  src/containers/Services/index.jsx
  src/containers/Team/index.jsx
  src/hooks/useInitialState.js
  src/lang/en/translation.json
  src/routes/Home.jsx
  yarn.lock
Due: eslint --cache --fix, stylelint --fix '**/*.{css,pcss,sss}', prettier '**/*' --write --ignore-unknown

chore: blog, post and contact routes deleted from router.js file
  src/router.js
Due: eslint --cache --fix, prettier '**/*' --write --ignore-unknown

feat: princing section removed from home page
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .vscode/sftp.json
  package-lock.json
  package.json
  src/routes/Home.jsx
  yarn.lock
Due: prettier '**/*' --write --ignore-unknown

chore: updating repository files
  .commitlintrc.json
  .dockerignore
  .eslintrc.json
  .github/README.template.md
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  .github/workflows/update.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .nvmrc
  .prettierrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier '**/*' --write --ignore-unknown

ci: github actions updated
  .github/workflows/analyze.yml
  .github/workflows/codeql.yml
  .husky/pre-commit
  README.md
Due: prettier '**/*' --write --ignore-unknown

build: project dependencies updated
  yarn.lock
Due: prettier '**/*' --write --ignore-unknown

ci: command for test styles updated
  .github/workflows/ci.yml
Due: prettier '**/*' --write --ignore-unknown

chore: node version defined in package.json
  package.json
Due: prettier '**/*' --write --ignore-unknown

chore: content updated
  src/components/CardTeam/index.jsx
  src/containers/Team/index.jsx
  src/routes/Home.jsx
Due: prettier '**/*' --write --ignore-unknown

Update update.yml
  .github/workflows/update.yml
Due: prettier '**/*' --write --ignore-unknown

build: removing testing and update project info
  .github/workflows/ci.yml
  .husky/pre-commit
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  jest.config.js
  jest.setup.js
  package.json
  src/components/Button/index.test.js
  yarn.lock
Due: eslint --cache --fix, prettier '**/*' --write --ignore-unknown

1.7.0
  package.json
Due: prettier '**/*' --write --ignore-unknown

removing github actions
  .github/release-drafter.yml
  .github/screenshot.png
  .github/workflows/analyze.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update.yml
Due: prettier '**/*' --write --ignore-unknown
