Repository luisfalconmx/thebouncingkoala: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{css,pcss,sss}": "stylelint --fix",
  "*.{js,css,json,md}": "prettier --write"
}

refactor: critical-css-webpack-plugin replaced by critters-webpack-plugin
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: yarn lock file regenerated
  yarn.lock
Due: none

refactor: the configuration of webpack, postcss and tailwind was improved
  postcss.config.js
  tailwind.config.js
  webpack.config.js
Due: eslint --cache --fix, prettier --write

refactor: new npm commands, fix the correct commands in lintstaged and react-simple-icons removed
  .github/config.yml
  .lintstagedrc
  .prettierignore
  .vscode/settings.json
  README.md
  package.json
  src/components/CardTeam/index.jsx
  src/containers/Navbar/index.jsx
  yarn.lock
Due: prettier --write

feat: support for inline svg images
  package.json
  src/containers/Navbar/index.jsx
  src/containers/Navbar/index.pcss
  yarn.lock
Due: stylelint --fix, prettier --write

refactor: code optimized in Navbar component code
  src/containers/Navbar/index.jsx
  src/containers/Navbar/index.pcss
  src/styles/base/global.pcss
  src/templates/index.html
Due: stylelint --fix

refactor: social icons rendered by ReactSVG component
  src/assets/images/logo-facebook.svg
  src/assets/images/logo-github.svg
  src/assets/images/logo-instagram.svg
  src/assets/images/logo-twitter.svg
  src/containers/Footer/index.jsx
Due: none

feat: scroll restoration added
  src/containers/Newsletter/index.jsx
  src/router.js
  src/utils/ScrollToTop.js
  webpack.config.js
Due: eslint --cache --fix, prettier --write

feat: the useDarkmode hook replaced by AppContext Provider
  src/containers/Navbar/index.jsx
  src/context/AppContext.js
  src/hooks/useInitialState.js
  src/router.js
  webpack.config.js
Due: eslint --cache --fix, prettier --write

ci: release drafter template updated
  .github/release-drafter.yml
  .prettierignore
Due: none

build: dockerfile configured for emit dist folder
  .env.example
  Dockerfile
Due: none

build: support for digitalocean app platform
  Dockerfile
Due: none

feat: nginx config added to dockerfile
  Dockerfile
  nginx.conf
Due: none

chore: release drafter info updated
  .github/release-drafter.yml
Due: none

build: volta.sh configuration added
  .npmrc
  package.json
Due: prettier --write

ci: new optimized github actions configuration
  .github/workflows/actions.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
Due: none

ci: restore action-repository-meta action in all workflows
  .github/workflows/actions.yml
  .github/workflows/maintenance.yml
Due: none

ci: release drafter file updated
  .github/release-drafter.yml
Due: none

build: tailwindcss updated to latest version
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: new arguments for lint script
  package.json
  webpack.config.js
Due: eslint --cache --fix, prettier --write

ci: eslint command executed with yarn run
  .github/workflows/actions.yml
  package.json
Due: prettier --write

ci: yarn install command restore in build job
  .github/workflows/actions.yml
Due: none

ci: restore build and test jobs config
  .github/workflows/actions.yml
Due: none

ci: actions.yml file updated
  .github/workflows/actions.yml
  .lintstagedrc
  .nvmrc
  package.json
Due: prettier --write

ci: maintenance workflow file updated
  .github/workflows/maintenance.yml
Due: none

feat: support for spa in github pages
  .github/workflows/maintenance.yml
  package.json
  public/favicon.ico
  public/index.html
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

ci: github actions removed temporary
  .env.example
  .github/CHANGELOG.md
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/config.yml
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/actions.yml
  yarn.lock
Due: prettier --write

ci: new analyze job for github actions
  .github/workflows/actions.yml
  .nvmrc
Due: none

ci: specify version of workflows
  .github/workflows/actions.yml
Due: none

ci: fix url of remote workflows
  .github/workflows/actions.yml
Due: none

ci: new actions configuration
  .github/workflows/actions.yml
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --write

ci: fix env variables
  .github/workflows/actions.yml
Due: none

ci: fix dependent jobs
  .github/workflows/actions.yml
Due: none

ci: new configuration for actions
  .github/workflows/actions.yml
Due: none

refactor: new github actions configuration and docker files removed
  .github/README.template.md
  .github/screenshot.png
  .github/workflows/actions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/maintenance.yml
  .github/workflows/release.yml
  .nvmrc
  Dockerfile
  docker-compose.yml
  nginx.conf
  package.json
  yarn.lock
Due: prettier --write

feat: hero, services and team copys added
  .env.example
  package.json
  src/containers/Services/index.jsx
  src/containers/Team/index.jsx
  src/containers/Team/index.pcss
  src/lang/en/translation.json
  src/lang/es/translation.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: ghost api client implement for get all staf in team container
  .env.example
  package.json
  src/assets/images/icon-facebook.svg
  src/assets/images/icon-twitter.svg
  src/assets/images/team/luis-falcon.png
  src/components/CardTeam/index.jsx
  src/components/CardTeam/index.pcss
  src/containers/Team/index.jsx
  src/containers/Team/index.pcss
  src/hooks/useInitialState.js
  src/lang/en/translation.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: all copys added for homepage
  src/containers/Featured/index.jsx
  src/containers/Footer/index.jsx
  src/containers/Team/index.pcss
  src/lang/en/translation.json
  src/lang/es/translation.json
  src/routes/Home.jsx
Due: stylelint --fix, prettier --write

feat: featured posts added from api in FeaturedBlog container
  src/components/CardBlog/index.pcss
  src/components/User/index.jsx
  src/components/User/index.pcss
  src/containers/FeaturedBlog/index.jsx
  src/containers/Team/index.jsx
Due: stylelint --fix

feat: blog route added with a blog grid
  src/components/CardBlog/index.pcss
  src/containers/BlogPosts/index.jsx
  src/containers/BlogPosts/index.pcss
  src/router.js
  src/routes/Blog.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
