Repository luisfalconmx/thebouncingkoala: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

feat: homepage translated in spanish and english languages
  src/components/Button/index.jsx
  src/components/CardBlog/index.jsx
  src/components/CardFAQ/index.jsx
  src/components/CardFAQ/index.pcss
  src/components/CardService/index.jsx
  src/components/FeaturedItem/index.jsx
  src/components/Footer/index.jsx
  src/components/Navbar/index.jsx
  src/components/User/index.jsx
  src/containers/FAQ/index.jsx
  src/containers/Featured/index.jsx
  src/containers/FeaturedBlog/index.jsx
  src/containers/Newsletter/index.jsx
  src/containers/Pricing/index.jsx
  src/containers/Services/index.jsx
  src/containers/Team/index.jsx
  src/lang/en/translation.json
  src/lang/es/translation.json
Due: stylelint --fix, prettier --write

style: minor style changes in some componentes and containers
  src/containers/Featured/index.pcss
  src/containers/FeaturedBlog/index.pcss
  src/containers/Pricing/index.pcss
  src/containers/Services/index.pcss
Due: stylelint --fix

chore: tailwindcss config replaced by a preset
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

ci: add badges action updated
  .github/workflows/cd.yml
  .github/workflows/maintenance.yml
Due: none

feat: support to calculate 100vh for mobile browsers
  package.json
  public/index.html
  src/components/Navbar/index.pcss
  src/styles/global.pcss
Due: stylelint --fix, prettier --write

style: minor style changes in FeaturedItem and Navbar components
  src/components/FeaturedItem/index.pcss
  src/components/Navbar/index.pcss
Due: stylelint --fix

build: dependencies upgrade to latest version
  package.json
  yarn.lock
Due: prettier --write

feat: new translate props for Button component
  src/components/Button/index.jsx
  src/components/Button/index.pcss
  src/components/Navbar/index.jsx
  src/containers/Featured/index.jsx
  src/containers/Hero/index.jsx
  src/containers/Newsletter/index.jsx
  src/containers/Pricing/index.jsx
Due: stylelint --fix

perf: useTranslation hook removing from Button component
  src/components/Button/index.jsx
  src/components/CardService/index.jsx
  src/components/Navbar/index.jsx
  src/containers/Featured/index.jsx
  src/containers/Hero/index.jsx
  src/containers/Newsletter/index.jsx
  src/containers/Pricing/index.jsx
Due: none

perf: useTranslation hook removing from CardBlog component
  src/components/CardBlog/index.jsx
  src/containers/FeaturedBlog/index.jsx
Due: none

perf: useTranslation hook removing from CardFAQ component
  src/components/CardFAQ/index.jsx
  src/containers/FAQ/index.jsx
Due: none

perf: useTranslation hook removing from CardService component
  src/components/CardService/index.jsx
  src/containers/Services/index.jsx
Due: none

perf: useTranslation hook removing from FeaturedItem component
  src/components/FeaturedItem/index.jsx
  src/containers/Pricing/index.jsx
Due: none

refactor: all classes were extracted from the input component to improve reading
  src/components/Input/index.jsx
Due: none

perf: custom class created for activate --tw-transform variable
  src/components/Button/index.jsx
  src/styles/global.pcss
Due: stylelint --fix

feat: support for webp images
  package.json
  src/components/CardTeam/index.jsx
  src/components/Image/index.jsx
  src/containers/Featured/index.jsx
  src/containers/Hero/index.jsx
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: new imagemin plugins for image optimization
  package.json
  src/containers/Featured/index.jsx
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

refactor: imagemin library replaced by squoosh
  package.json
  src/assets/images/HeroImage.jpg
  src/assets/images/HeroImage.png
  src/assets/images/featured-mockup.png
  src/assets/images/mockup-featured.png
  src/containers/Hero/index.jsx
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: width and height props added in Image component
  public/index.html
  src/components/Image/index.jsx
  src/containers/Hero/index.jsx
Due: none

refactor: all images replaced by Image component
  src/assets/images/CardTeam__Image.png
  src/components/CardService/index.jsx
  src/components/CardTeam/index.jsx
  src/components/Footer/index.jsx
  src/components/Navbar/index.jsx
  src/components/User/index.jsx
  src/containers/Featured/index.jsx
Due: none

feat: new social icons added in CardTeam component
  package.json
  src/components/CardTeam/index.jsx
  src/components/CardTeam/index.pcss
  src/components/Footer/index.jsx
  src/components/Navbar/index.jsx
  src/components/SocialIcon/index.jsx
  src/containers/Team/index.jsx
  yarn.lock
Due: stylelint --fix, prettier --write

style: more icons enabled in Team container
  src/containers/Team/index.jsx
Due: none

perf: home route imported with lazy load
  src/components/CardBlog/index.jsx
  src/components/CardService/index.jsx
  src/components/CardTeam/index.jsx
  src/components/Footer/index.jsx
  src/components/Navbar/index.jsx
  src/components/User/index.jsx
  src/containers/Featured/index.jsx
  src/containers/Hero/index.jsx
  src/router.js
Due: eslint --cache --fix, prettier --write

refactor: navbar and footer components moved to containers folder
  src/containers/Footer/index.jsx
  src/containers/Footer/index.pcss
  src/containers/Layout/index.jsx
  src/containers/Navbar/index.jsx
  src/containers/Navbar/index.pcss
Due: stylelint --fix

docs: pricing.caption lang file modify
  src/lang/en/translation.json
  src/lang/es/translation.json
Due: prettier --write

perf: split chunks enable in webpack config file
  webpack.config.js
Due: eslint --cache --fix, prettier --write

perf: heavy libraries added to shared entrypoint and bundle-analyzer-plugin added
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: width and height propType validation changed from number to string
  src/components/Image/index.jsx
Due: none

fix: set correct urls in CardTeam and CardBlog components
  src/components/CardBlog/index.jsx
  src/containers/Team/index.jsx
Due: none

fix: set correct property to logo in navbar for darkmode
  src/containers/Navbar/index.pcss
Due: stylelint --fix

ci: removing push event for all branches
  .github/workflows/ci.yml
Due: none

feat: the BackHome container was created in desktop version
  src/assets/images/flowers-vectors.png
  src/containers/BackHome/index.jsx
  src/containers/BackHome/index.pcss
  src/routes/Contact.jsx
  src/routes/NotFound.jsx
Due: stylelint --fix

feat: the BackHome component was adapted to mobile version
  src/containers/BackHome/index.jsx
  src/containers/BackHome/index.pcss
Due: stylelint --fix

feat: support for markdown files
  package.json
  src/containers/PrivacyPolicy/index.jsx
  src/containers/PrivacyPolicy/index.md
  src/containers/PrivacyPolicy/index.pcss
  src/router.js
  src/routes/Privacy.jsx
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs: privacy policy translated to spanish and render in privacy page
  src/assets/documents/privacy-policy.en.md
  src/assets/documents/privacy-policy.es.md
  src/containers/PrivacyPolicy/index.jsx
  webpack.config.js
Due: eslint --cache --fix, prettier --write

feat: privacy page was adapted to mobile version
  src/assets/documents/privacy-policy.en.md
  src/assets/documents/privacy-policy.es.md
  src/containers/PrivacyPolicy/index.jsx
  src/containers/PrivacyPolicy/index.pcss
Due: stylelint --fix, prettier --write

feat: loader page was created
  src/assets/icons/favicon.ico
  src/assets/images/cardservice-icon.png
  src/assets/images/cardteam-image.png
  src/assets/images/heroimage.jpg
  src/assets/images/logo-loader.png
  src/assets/images/logo.svg
  src/assets/images/user.png
  src/components/CardService/index.jsx
  src/components/CardTeam/index.jsx
  src/components/User/index.jsx
  src/containers/Hero/index.jsx
  src/containers/Navbar/index.jsx
  src/router.js
  src/styles/base/global.pcss
  src/styles/global.pcss
  src/styles/index.pcss
  src/templates/index.html
  webpack.config.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

perf: critical-css-webpack-plugin added and tailwind updated to latest version
  package.json
  src/components/Button/index.pcss
  src/components/CardFAQ/index.pcss
  src/components/CardService/index.pcss
  src/containers/Navbar/index.pcss
  src/styles/base/global.pcss
  src/templates/index.html
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

test: tests added to Button component
  src/components/Button/index.test.js
Due: eslint --cache --fix, prettier --write

feat: the footer was positioned at the bottom of the page
  src/containers/BackHome/index.pcss
  src/containers/Layout/index.jsx
  src/styles/base/app.pcss
  src/styles/index.pcss
  src/templates/index.html
Due: stylelint --fix

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.{css,pcss,sss}
  prettier --write: any of: *.{js,css,json,md}
